node_modules
.env
.vercel
test
config/environment.rb
.sample_env
config/.sample_environment.rb
repl
trash
trash copy
trashII.js
trash copy 2
error
.yarn
.DS_Store
services/telegraf/just_questions.js
services/telegraf/map_questions_to_questions.js
services/telegraf/questions.js
services/telegraf/setup.js
services/telegraf/trashII
services/telegraf/trash
services/telegraf/index copy.js
services/telegraf/trashIII
services/telegraf/UniMAC-IJ
services/telegraf/trials
ThorFile
